<div class="user-details">
  <h1> Recent Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/date-planner.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Date Planner </h3>
    <ul>
      <li> JavaScript</li>
      <li> jQuery</li>
      <li> HTML</li>
      <li> sass</li>
    </ul>
    <p>Electron Date Planner</p>
    <a class="project-link" href="https://github.com/alan-llin/date-planner">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Flyff_logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Flyff Bot </h3>
    <ul>
      <li> C++</li>
      <li> C</li>
    </ul>
    <p>Bot for a Flyff private server</p>
    <a class="project-link" href="https://github.com/alan-llin/FlyffBot">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ODC.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Object Recognition - Color </h3>
    <ul>
      <li> C++</li>
    </ul>
    <p>Object recognition by color using ROS, OpenNI, and OpenCV</p>
    <a class="project-link" href="https://github.com/yrf1/Robotics-Project">Check it out</a>
  </div>
</div>
